<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Keywords.handle_exception"/>
      <class name="Keywords.timeout"/>
      <class name="Keywords.invocation_count1"/>
      <class name="Keywords.priority"/>
      <class name="Keywords.group"/>
      <class name="Keywords.Enabled"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
